h1 {
    text-align: center;
    color: rgb(50, 174, 223);
}
table{
    width: 100;
     border-collapse: collapse;
     margin-bottom: 20px;
     background: white;
}
th, td{
    padding: 10px;
    border:1px solid;
    text-align:left;
    vertical-align: top;
    
  
   
    

}
th{
    color: white;
    background-color: blue;
}
td :first-child{
    width: 150px;
    font-weight: italic;
    background-color:rgba(209, 47, 47, 0.276) ;

}
body{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: beige
}
